.myrow {
	text-align: center;
	width: 100vw;
	text-align: center;
	position: absolute;
	top : 60%;
	margin-top: -200px;
	color: #13CDFF;
}

.box1 {
	margin: auto;
	width: 300px;
	font-size: 72px;
  	background: -webkit-linear-gradient(left top, right top, #12E8DD, #13CDFF);
	background: -moz-linear-gradient(left top, right top, #12E8DD, #13CDFF);
	background: linear-gradient(to bottom right, #12E8DD, #13CDFF);
  	-webkit-background-clip: text;
  	background-clip: text;
  	text-fill-color: transparent;
  	-webkit-text-fill-color: transparent;
	
}

#head {
	font-size: 70px;
	color: #12E8DD;
}
#text { 
	font-family: MyriadPro-Light;
}


.box2 {
	margin: auto;
	margin-top: 50px;
	width : 250px;
}

button {
	border: 1.7px solid;
	border-color: #13CDFF;
	height: 50px;
	background-color: white;
	color: #13CDFF;
	font-size: 16px;
}

button:hover {
	background: -webkit-linear-gradient(left top, right top, #12E8DD, #13CDFF);
	background: -moz-linear-gradient(left top, right top, #12E8DD, #13CDFF);
	background: linear-gradient(to bottom right, #12E8DD, #13CDFF);
	color: white;
}

@media screen and (max-width:768px) {
	  .myrow {
		top : 50%;
	}
}

