<div class="container-fluid">
	<div class="row myrow">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="box1">
				<p id="head">Angular2</p>
				<h3 id="text">It’s much easier to structure your applications. Building components just feels natural.</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box2">
				<button class="btn-block signUp" (click)="signup()">Signup</button><br>
				<button class="btn-block login" (click)="login()">Login</button>
			</div>
		</div>
	</div>
</div>

	
