<div class="bag">
<div class="container-fluid contains">
	<div class="loginDiv">
		<h3 class="text-center">Login</h3>
		<div class="LoginForm">
			<form [formGroup]="loginForm" novalidate (ngSubmit)="submitForm(loginForm.value)">

				<div class="form-group"
					 [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['email'].dirty}">
					<input class="form-control textfield" type="email" name="email"
						   [formControl]="loginForm.controls['email']" placeholder="Email"
						   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
				</div>

				<div class="form-group"
					 [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].dirty}">
					<input class="form-control textfield" type="password" name="password"
						   [formControl]="loginForm.controls['password']" placeholder="Password" required>
				</div>

				<div class="form-group">
					<button class="btn-block btn-success buttn" [disabled]="!loginForm.valid" type="submit">Login</button>
        </div>
        <div class="loader" *ngIf="load==true">
          <img class="loaderImg" src="../../assets/load.gif">
        </div>
        <div class="danger" #errorLogin *ngIf="loginForm.valid"></div>
				<div class="danger"
					 *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">Invalid
					email!</div>
				<div class="danger"
					 *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Invalid Password!</div>
			</form>
		</div>
	</div>

</div>
</div>

