<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container-fluid">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
	     	 </button>
	      	<a href="#" class="navbar-brand">Angular2 Framework</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
		    <ul class="nav navbar-nav navbar-right">
			    <li><a (click)="logout()" class="button btn">Logout</a></li>
			    <li><a href="https://github.com/pranalipatil209/freshLime.git" target="_blank" class="button btn">Github</a>
			    </li>
		    </ul>
	    </div>
  	</div>
</nav>

<div class="container-fluid contain">
	<h1>Welcome! Its Dashboard...</h1>
</div>
