.sidebar{
  font-family: MyriadPro-Light;
  height: 100vh;
  position: fixed;
  margin-left: -60px;
  z-index: 1000;
  left:0px;
}
.sidebar-menu{
  width: 170px;
  border: 1px;
  border-radius: 3px;
  box-shadow: 1px 0px 2px grey;
  margin: auto;
  padding: 10px;
  margin-top: 60px;
  overflow-wrap:break-word;
}

@media screen and (max-width:500px) {
  .sidebar-menu{
    width: 80px;
    font-size: 10px;
    box-shadow: 0px 0px 0px grey;
  }
  .sidebar{
    width: 90px;
    margin-left: -12px;
  }
  .btn{
    height: 25px;
    font-size: 10px;
  }

}

@media screen and (min-width:501px) and (max-width:768px) {
  .sidebar-menu{
    width: 150px;
  }
  .sidebar{
    margin-left: -40px;
  }
}

