<div class="product">
    <div class="image">
      <img src={{prod.image.small}}>
    </div>
    <div class="contentShow">
      <div class="content">
        <h3>{{prod.name}}</h3>
        <table>
          <tr *ngFor="let spec of prod.specs | keys">
            <td><b>{{ spec.key }}</b></td>
            <td *ngIf="spec.key=='camera'">{{spec.value}}{{camera}}</td>
            <td *ngIf="spec.key=='storage'">{{spec.value}}{{storage}}</td>
            <td *ngIf="spec.key != 'storage'"><span *ngIf="spec.key != 'camera'">{{ spec.value }}</span></td>
          </tr>
        </table>
        <br>
        <div class="footline">
          <button class="btn pull-left btn-primary" (click)="goToProductDetails(prod)">Buy</button>
          <span class="pull-right"><h4>${{prod.price}}</h4></span>
        </div>
      </div>
    </div>
</div>
