.product {
  height : 400px;
  width : 300px;
  overflow: auto;
  display: inline-block;
}

.product:hover > .contentShow {
  visibility: visible;
}

.image {
  padding: 10px;
  height : 400px;
  width : 300px;
  z-index: 0;
  position: absolute;
}

.product:hover > .image {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.image > img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.contentShow {
  visibility: hidden;
  height: 400px;
  width: 300px;
  position: absolute;
  z-index: 1000;
}

.content {
  background-color: rgba(255,255,255,0.3);
  margin-top: 50%;
  margin-left: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 65%;
}

table tr td {
  padding-right: 30px;
}

.footline {
  width: 100%;
  padding-right: 30px;
}
