
.image{
  width: 600px;
  height : 400px;
  position: absolute;
  margin: auto;
  top:0;
  /*bottom:0;*/
  left: 0;
  right: 0;
  display: inline-block;
}

img{
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
}

.nameOverlay{
  font-size: 50px;
  background-color: rgba(255,255,255,0.6);
  top: 70px;
  text-align: center;
  width : 100%;
  position: absolute;
  z-index: 1000;
}

.ratings{
  margin-left: 13%;
}

.row{
  margin-top: 400px;
}

p{
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.col-md-6{
  padding: 30px;
}

.head{
  display: inline-block;
  width: 100%;
  margin-bottom: -17px;
}

.name{
  position: absolute;
}

.pull-right{
  padding-right: 20px;
}

.wishlist{
  margin-top: 30px;
  background-color: white;
  border: 1px solid #13CDFF;
  color: #13CDFF;
}

.removeWishlist{
  margin-top: 20px;
  background-color: white;
  border: 1px solid indianred;
  color: indianred;
}

.Buy{
  margin-top: 30px;
  background-color: gold;
  color: white;
}

.wishlist:hover {
  background-color: #13CDFF;
  color: white;
}

.removeWishlist:hover{
  background-color: indianred;
  color: white;
}

.values{
  padding-left: 40px;
}
