<div class="container-fluid">
  <div class="image">
    <img src="{{product.image.large}}">
    <div class="nameOverlay">{{product.name}}</div>
  </div>
  <ratings [rate]="product.rating"></ratings>
  <!--<div class="stars">-->
    <!--<img class="imgStar" src="../../assets/star_PNG1597.png">-->
    <!--<img class="imgStar" src="../../assets/star_PNG1597.png">-->
    <!--<img class="imgStar" src="../../assets/star_PNG1597.png">-->
    <!--<img class="imgStar" src="../../assets/star_PNG1597.png">-->
  <!--</div>-->
  <p>
    buy-product works! {{data}}
  </p>

</div>
