<div class="bag">
<div class="container-fluid contains">
	<div class="loginDiv">
		<h3 class="text-center">Login</h3>
		<div class="LoginForm">
			<form [formGroup]="loginForm" novalidate (ngSubmit)="submitForm(loginForm.value)">

				<div class="form-group" [ngClass]="{'has-error':!loginForm.controls['email'].valid && !loginForm.controls['email'].touched}">
					<input class="form-control" type="email" name="email" [formControl]="loginForm.controls['email']" placeholder="email" required>
				</div>

				<div class="form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && !loginForm.controls['password'].touched}">
					<input class="form-control" type="password" name="password" [formControl]="loginForm.controls['password']" placeholder="password" required>
				</div>

				<div class="form-group">
					<button class="btn-block btn-success buttn" [disabled]="!loginForm.valid" type="submit">
						<span *ngIf="hide==show">Login</span>
						<span *ngIf="hide!=show">Loading...</span>
					</button>
				</div>
        <div class="danger" #errorLogin></div>
				<div class="danger" *ngIf="!loginForm.controls['email'].valid">Invalid email!</div>
				<div class="danger" *ngIf="!loginForm.controls['password'].valid">Invalid Password!</div>
			</form>
		</div>
	</div>
</div>
</div>

